<!DOCTYPE html>
<html lang="eng">

    <head>
        <title>
            Predict Skin Disease
        </title>
        <h1 align="center">Predict Skin Disease</h1>
    </head>
	
    <body>
        <div align="center">
            <form class = "file-form" action="/predict" method="post", enctype="multipart/form-data">
                <input class="file-form-input" type="file" , name = "file"/>
                <button class="btn btn-success btn-lg">Upload</button> 
            </form>
        </div>
    </body>
</html>